.container {
  min-height: 100vh;
  padding: 4rem 0;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 60%;
}

.hero {
  margin: 16rem 0 0 0;
}

.title a {
  color: #c5fb4c;
  text-decoration: none;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
  color: white;
  margin: 1rem auto;
}

.title,
.description {
  text-align: left;
  padding: 0 6rem;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.description a {
  color: #c5fb4c;
  text-decoration: none;
}

.subTitle {
  padding: 0 6rem;
  line-height: 1.5;
  font-size: 2rem;
  color: hsl(0, 0%, 90%);
}

.email {
  cursor: pointer;
}


@media (max-width: 600px) {
  .container {
    min-height: 100vh;
    padding: 4rem 0;
    margin: 0 auto;
    width: 100%;
  }
  
  .hero {
    margin: 4rem 0 0 0;
  }
  
  .title {
    font-size: 4rem;
  }

  .title a {
    color: #c5fb4c;
    text-decoration: none;
  }
  
  .title,
  .description {
    padding: 0 1rem;
  }

  .subTitle {
    padding: 0 1rem;
  }
}
