.container {
  padding: 2rem 6rem;
  z-index: 1;
  position: fixed;
  background: #1b201c;
  width: 100%;
  border-bottom: 1px solid #c5fb4c;
  display: flex;
  justify-content: space-between;
}

.btn {
  background: hsl(79, 96%, 64%);
  border: none;
  color: #1b201c;
  padding: 1rem 2rem;
  border-radius: none;
  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
}

.home {
  font-weight: 500;
  padding: 1rem;
  font-size: 1.2rem;
  width: 100%;
}


@media (max-width: 600px) {
  .container {
    padding: 2rem 2rem 2rem 1rem;
  }

  .home {
    padding: 0;
  }

  .hamburger {
    padding: 0;
  }

  .link {
    font-size: .8rem;
  }
}

.navItems {
  display: flex;
  justify-content: space-between;

}

.right span {
  padding: 0 1rem;
}

.link:hover {
  color: #c5fb4c;
  cursor: pointer;
}
